@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-info text-center mt-3">Employee Registeration</h2>
<script src="~/js/employee.js"></script>
<div id="form" class="mt-5"></div>












@* <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                 method="post" asp-action="Privacy" asp-controller="Home" 

                <div class="form-group mt-2">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Employee Name">
                </div>

                <div class="form-group mt-2">
                    <label for="mobile">Mobile Number:</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter Employee Mobile Number">
                </div>

                <div class="form-group mt-2">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender">
                        <option value="" disabled selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Employee Email ">
                </div>

                <button type="submit" class="btn btn-primary d-grid gap-2 mx-auto w-25 mt-3 ">Register</button>
            </form>
        </div>
    </div>
</div>

 *@