@model PracticeIdentity.Models.UserViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" asp-action="signup" asp-controller="Auth">
                <div class="form-group">
                    <label for="name">User Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Your Name" asp-for="Name">
                </div>

                <div class="form-group mt-2">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email Here" asp-for="Email">
                </div>

                <div class="form-group mt-2">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password Here" asp-for="Password">
                </div>

                <div class="form-group mt-2">
                    <label for="password">Confirm Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Confirm Password Here" asp-for="ConfirmPassword">
                </div>

                 <button type="submit" class="btn btn-primary d-grid gap-2 mx-auto w-25 mt-3 ">Save</button>
                <p class="text-muted mt-3 text-center"><b>Already Exists! </b><a href="@Url.Action("login", "Auth")" class="text-success text-decoration-none"><b>Click For Login</b></a></p>

            </form>
        </div>
    </div>
</div>

