@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-info text-center mt-3">Customer Registeration & Check Out</h2>

<div id="button" class="float-end"></div>
<div id="popup"></div>
<div id="dataGrid" class="mt-5"></div>
<div id="editPopup"></div>
<div id="deletePopup"></div>
<div id="checkPopup"></div>
<div id="form" class="mt-5"></div>
@* <div id="checkPopup"></div> *@
@* <div id="checkOutPopup"></div> *@
@* <div id="roomType"></div> *@

<script src="~/js/dgrid.js"></script>



@* 
<div class="col mt-4">
    <table class="table mx-auto">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Mobile Number</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Id Proof</th>
                <th>Address</th>
                <th>Check In</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Bed</th>
                <th>Price</th>
            </tr>
        </thead>

           @foreach (Employee employee in Model)
        {
        <tr>
        <td>@employee.Id</td>
        <td>@employee.Name</td>
        <td>@employee.Gender</td>
        <td>@employee.Designation</td>
        </tr>
        } 

    </table>
</div> *@



@*  <form class="row gx-3 gy-2 align-items-center">
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputGroupUsername">Name</label>
        <div class="input-group">
            <div class="input-group-text">Name</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Customer Name">
        </div>
    </div>
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputGroupUsername">Room Number</label>
        <div class="input-group">
            <div class="input-group-text">Room Number</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder=" Room Number">
        </div>
    </div>
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputGroupUsername">Date Time</label>
        <div class="input-group">
            <div class="input-group-text">Check Out</div>
            <input type="datetime-local" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
        </div>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Check Out</button>
    </div>
</form>  *@